.event {
	&-time,
	&-date {
		display: flex;
		gap: 6px;
		font-size: 14px;
		align-items: center;
	}

	&-price {
		margin-left: auto;
		background-color: $primary-color;
		padding: 2px 5px;
		border-radius: 5px;
		font-size: 14px;
	}

	&-card {
		&__title {
			margin: 0 0 20px;
			a {
				color: #fff;
			}
		}
	}
}
