.hotel-card {
	&__header {
		& > a {
			display: flex;
			overflow: hidden;
			border-radius: 10px;
		}
	}
	&__thumbnail {
		width: 100%;
		height: 250px;
		object-fit: cover;
		transition: all ease-in-out 250ms;
	}

	&__title {
		font-weight: 600;
		font-size: 18px;
		margin: 10px 0;
		a {
			color: $text-dark;
			transition: all ease-in-out 250ms;
		}
	}

	&__footer {
		display: flex;
		gap: 40px;
	}

	&:hover {
		.hotel-card__thumbnail {
			transform: scale(1.05);
		}
		.hotel-card__title {
			a {
				color: $primary-color;
			}
		}
	}
}

.hotel-details__item {
	font-size: 13px;
	font-weight: 500;
	display: flex;
	gap: 4px;
	align-items: center;
}
