.ad {
	&--homepage {
		background: linear-gradient(92.95deg, #b3b3b326 -16.15%, #fd563133 60.29%);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		gap: 40px;
		padding: 20px;
	}

	&__text {
		max-width: 70%;
		line-height: 30px;
		font-weight: 500;
	}
}
