.categories-cards {
	display: flex;
	gap: 20px;
	padding: 20px 0;
	&__single {
		flex: 1;
	}
	&__title {
		display: flex;
		padding: 20px;
		border: 2px solid $text-dark;
		color: $text-dark;
		border-radius: 15px;
		font-weight: 700;
		height: 80px;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 14px;
		&:hover {
			background-color: $primary-color;
		}
	}
}
