.slide-destination {
	display: flex;
	gap: 20px;

	&__thumbnail {
		border-radius: 10px;
		height: 620px;
		object-fit: cover;
		&-container {
			max-width: 50%;
			flex: 1;
		}
	}

	&__content {
		flex: 1;
		padding-bottom: 50px;
	}

	&__title {
	}

	&__subtitle {
		font-size: 14px;
		display: flex;
		gap: 4px;
		margin: 15px 0;
	}

	&__text {
		font-size: 16px;
		line-height: 35px;
	}
}
