// $primary-color: #32ce8e;
// $primary-color: #00ceef;
// $primary-color: #fd5631;
$primary-color: #ff576b;
$text-dark: #5a5a5a;
$light-gray: #9691a4;
$border-color: #ddd;
$red: #c92525;
$green: #0f960f;