.store-categories {
	&__container {
		display: flex;
		flex-direction: column;
		select[name="shop-category"] {
			display: none;
		}
		.nice-select {
			width: 100%;
			margin: 20px 0;
			&.open .nice-select-dropdown {
				width: 100%;
			}
		}
	}
}

select[name="municipality"],
select[name="cat"] {
	display: none;
}

.store-form {
	&__header {
		margin-bottom: 20px;
	}
	&--hidden {
		display: none;
	}
}
#emails-container,
#tels-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.email-row,
.tel-row {
	display: flex;
	align-items: center;
	gap: 5px;
}

.preview-logo__container,
.preview-gallery__container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
}
.preview-logo__container img,
.preview-gallery__container img {
	width: 100%;
	height: 300px;
	object-fit: contain;
}
