.dashboard {
	&__container {
		display: flex;
		flex-direction: column;
	}
	&__nav {
		flex: 1;
		margin-top: 20px;
		ul {
			display: flex;
			gap: 10px;
		}

		li {
			flex: 1;
			a {
				display: flex;
				padding: 20px;
				border: 1px solid #ddd;
				color: $text-dark;
				font-size: 14px;
				line-height: 30px;
				justify-content: center;
				font-weight: 600;
				transition: color ease-in-out 250ms, background-color ease-in-out 250ms;
				&:hover {
					background-color: $primary-color;
					color: #fff;
				}
			}

			&.current_page_item {
				a {
					background-color: $primary-color;
					color: #fff;
				}
			}
		}
	}

	&__content {
		flex: 1;
		padding: 20px 0;

		.section-title {
			margin-bottom: 40px;
		}
	}
}
